:root{
  --mainFont :  'Noto Sans', sans-serif;

  /* --headFont : 'Roboto', sans-serif; */
}

body{
  background-color: #FF00E5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(--mainFont); */
  font-family: var(--mainFont);;
  scroll-behavior: smooth;
  
 
}

/* navbar */

.navbrand-size{
  font-size: 36px;
}
.navitem-size{
  font-size: 24px;
  font-weight: 500;
}


/* timer_pomo */
.timer-pomo{
  height: 100vh;
}

.container.timers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  
}

.card.card-timer{
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(221, 41, 41, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timer {
  font-size: 80px;
  font-weight: bold;
}

#buttons {
  text-align: center;
  margin-top: 20px;
}

.btn.btn-label{
  color: #fff;
  font-weight: bold;
}

.btn.btn-label.active {
  background-color: #5FFB00;
  color: #000;
}

.btn-start{
  background-color: #5FFB00;
}

.btn-skip{
  background-color: rgba(95, 251, 0, 0.5);
}

