@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #800080;
}

#wrapper{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}



#time{
    display: flex;
    
    /* background: cornflowerblue; */
}

#time .circle{
    position: relative;
    width:     171.43px;
    height:      171.43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg{
    position: relative;
    width:      171.43px;
    height:      171.43px;
    transform: rotate(270deg);
  
}

#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 10;
    stroke: #282828;
    transform: translate(5px,5px);
}

#time .circle svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 503;
}

#time div{
   position: absolute;
   text-align: center;
   font-weight: 500;
   color: #fff;
   font-size: 0.9em;
   text-transform: uppercase;

}

#time .dots {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}

/* #time .dots::before{
    content: '';
    position: absolute;
    top: -3px;
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;

} */


#controls {
    text-align: center;

  }
  
  #controls button {
    width: 110px;
    height:  61.875;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
  }
